.body {
    margin-top: 20px;
    padding-top: 20px;

    background: #F7F7F7;

    &__h1 {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        line-height: 49px;

        color: #1E1E1E;
        text-align: center;
    }


    &__anim {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        background: #EEEEEE;
        border-radius: 44px;

        @media screen and (max-width:480px) {
            display: flex;
        }
    }

    &__p {
        padding-top: 7px;
        text-align: center;


        font-family: 'Gilroy-Regular';
        font-size: 18px;
        line-height: 185%;
        /* or 33px */


        color: #1E1E1E;

        opacity: 0.8;

    }

    &__p:hover {
        background-color: white;
        width: 74px;
        height: 50px;
        transition: 1s;
        border-radius: 25px;
    }

    &__main {
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;


        @media screen and (max-width:480px) {
            margin: 0 auto;
        }
    }

    &__block1 {
        background: #FFFFFF;
        border-radius: 20px;
        margin-left: 43px;
        width: 268px;
        height: 441px;

        @media screen and (max-width:480px) {
            margin: 0 auto;
        }
    }

    &__img {
        height: 239px;
        background-color: #FAFAFA;

    }

    &__img1 {
        margin: 0 auto;

    }

    &__name {
        padding: 10px 0 0 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16.7554px;
        line-height: 20px;

        color: #8D8D8D;

    }

    &__chair {
        padding-left: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21.3251px;
        line-height: 26px;
        /* identical to box height */

        text-transform: capitalize;

        color: #0D1B39;

    }

    &__stars{
       margin-left: 10px;
    }


    &__for-flex {
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    

    &__a {
        padding-top: 200px;
        padding-bottom: 50px;
        text-align: center;
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 185%;
        /* or 33px */


        color: #E58411;


    }
    
   &__block1,&__for-flex,img{
    cursor: pointer;
   }
}

